/*agregar segun sea necesario */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

a{
    text-decoration: none;
    color: inherit;
}

ul,ol{
    list-style: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
  }


img {
    max-width: 100%;
    height: auto;
  }