.hero {
  display: flex;
  max-width: 87rem;
  margin: 0 auto;
  column-gap: 150px;
  padding: 0 16px;
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero__left {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.hero__info__user {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

.hero__info__user__name__rol {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: fit-content;
}

.hero__info__user__name {
  font-size: 28px;
  color: #12153a;
}

.hero__info__user__date {
  font-size: 13px;
  color: #425466;
}

.hero__info__user__rol {
  align-self: flex-end;
  padding: 0.5rem 1.8rem;
  background-color: #cfcdff;
  color: #635bff;
  font-size: 17px;
  border-radius: 30px;
}

.hero__info__mentorship {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}

.hero__info__mentorship__left {
  display: flex;
  flex-direction: column;
  row-gap: 56px;
  flex: 1;
}

.hero__info__mentorship__list {
  display: flex;

  flex-direction: column;
  row-gap: 20px;
  border-left: 2px solid #12153a;
  min-height: 146px;
  padding-left: 20px;
}

.strong--green {
  color: #63ffbd;
}

.strong--blue {
  color: #6c63ff;
}

.strong--red {
  color: #ff6a80;
}

.hero__info__mentorship__item:nth-child(2) {
  padding-left: 20px;
}

.hero__info__mentorship__item:nth-child(3) {
  padding-left: 30px;
}

.hero__info__mentorship__buttons {
  display: flex;
  column-gap: 16px;
}

.hero__info__mentorship__manage,
.hero__info__mentorship__close {
  padding: 0.4rem 0;
}

.hero__info__mentorship__manage {
  background-color: #635bff;
  color: #fefeff;
  border-radius: 30px;
  padding: 0.4rem 1.5rem;
}

.hero__right {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  flex: 1;
  padding-top: 52px;
}

.hero__notifications {
  display: flex;
  justify-content: space-between;
  color: #425466;
}

.hero__notifications__central {
  background-color: #635bff;
  color: #ffffff;
  border-radius: 15px;
  min-height: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 74px;
  /* align-items: center; */
  padding: 0 41px;
}

.hero__notifications__texts {
  padding-top: 69px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.hero__notifications__diary {
  font-size: 18px;
}

.hero__notifications__alert {
  color: #ffffff67;
  font-size: 14px;
  font-weight: 200;
  padding-left: 35px;
}

.hero__notifications__history {
  padding-bottom: 25px;
  align-self: flex-start;
  font-weight: bold;
}
